p, li {
    font-size: 18px;
    line-height: 1.5;
    font-family: 'Source Sans Pro', 'Regular 400';
}
h1 {
    font-family: 'Peralta', 'Regular 400';
}
h2 {
    font-family: 'Peralta', 'Regular 400';
}
.button {
    border-color: #ACA475;
    background-color: #E0DAB6;
}
html{
    background-color: #E0DAB6;
    padding-bottom: 40px;
}
body{
    margin: 25;
    padding-bottom: 5px;
}